header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 15px 10%;
  color: #757575;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 4%), 0 1px 1px 0 rgb(0 0 0 / 4%),
    0 2px 1px -1px rgb(0 0 0 / 4%);
}

header a {
  color: inherit; /* blue colors for links too */
  text-decoration: none;
}

.header__logo:hover {
  color: 34843c;
}

header img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 6px 20px;
  border-radius: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  cursor: pointer;
}

.nav__links li:hover {
  color: 34843c;
  background-color: #f3f6fa;
  transition: all 0.2s ease 0s;
}

.nav__icon {
  margin-right: 10px;
}

.nav__board {
  margin-right: 10px;
  padding: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
}
