.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 4%), 0 1px 1px 0 rgb(0 0 0 / 4%),
    0 2px 1px -1px rgb(0 0 0 / 4%);
}

.status p {
  margin: 5px 5px 5px 5px;
  flex: 1 1 0;
}

.status p:nth-child(1) {
  text-align: left;
}

.status p:nth-child(2) {
  text-align: center;
}

.status p:nth-child(3) {
  text-align: right;
}

.sensor {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 4%), 0 1px 1px 0 rgb(0 0 0 / 4%),
    0 2px 1px -1px rgb(0 0 0 / 4%);
}

.sensor__data {
  width: 60%;
  margin: auto;
}

.sensor__title {
  font-size: 16px;
  text-align: left;
  margin-left: 11px;
  margin-top: 12px;
  margin-bottom: 0px;
  padding: 0px;
}

.sensor__cards {
  margin-top: 5px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sensor__card {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 0;
  max-width: 200px;
  min-width: 120px;
  min-height: 140px;
  color: #282828;
  background-color: #005a2d05;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  padding: 5px 40px 15px 40px;
  padding-top: 5px;
  margin: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sensor__card h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 15px;
}

.sensor__card h2 {
  font-size: 1.6em;
  margin: 2px 0px 0px 2px;
}

.fa-temperature-high {
  margin-left: 10px;
}

/* No idea what I am doing.. use p, span? where is the best place to put margin etc. */
.sensor__card p {
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
  flex: 1 1 0;
}

.sensor__card button {
  color: #757575;
  margin-top: 20px;
  padding: 10px;
  background: #ffffff;

  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.sensor__line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.sensor__card button:hover {
  color: rgb(3, 168, 77);
  background-color: #f3f6fa;
}

/* Can I do this to color stuff? want use same color for all icons */
.color__green {
  color: rgb(3, 168, 77);
}

.color__red {
  color: rgb(216, 34, 34);
}
