.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 4%), 0 1px 1px 0 rgb(0 0 0 / 4%),
    0 2px 1px -1px rgb(0 0 0 / 4%);
}

.status p {
  margin: 5px 5px 5px 5px;
  flex: 1 1 0;
}

.status p:nth-child(1) {
  text-align: left;
}

.status p:nth-child(2) {
  text-align: center;
}

.status p:nth-child(3) {
  text-align: right;
}
